<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SchoolApp</title>
  </head>
  <body>
  
    <h1>Welcome to the School Application </h1>
    <p>An Application use to tracke Students status</p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a>.
    
  
   
  </body>
</html>
