<!-- views/applications/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Schools</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <% if (user) { %>
      <h1>Welcome to the School Application, <%= user.username %>!</h1>
      

      <% } else { %>
      <h1>Welcome to the School Application</h1>
      <p>School Applications is designed to help schools administrator to add,manage and update Student informations.</p>
      

      </p>
      <% } %>
    Please Select The School
    <ul>
    
      <li><a href="/schools/alNoor">Al Noor School</a></li>
      <li><a href="/schools/bahrain">Bahrain School</a></li>
      <li><a href="/schools/apg">APG School</a></li>
      
    </ul>
  </body>
</html>
