<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add New Student</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add New student</h1>


    <form action="/student" method="POST">

        <label for="name"> Student Name:</label>
        <input type="text" name="name" id="name" />
      
        <label for="email">Email:</label>
        <textarea name="email" id="email"></textarea>

  
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes"></textarea> 

        <label for="school">School:</label>
        <select id="school" name="school">
          <option value="APG">APG</option>
          <option value="Bahrain">Bahrain</option>
          <option value="AlNoor">AlNoor</option>
         
        </select>

        <button type="submit">Add Student</button>
      </form>


  </body>
</html>